@model IEnumerable<InventoryManagementSystem.Models.RequisitionForm>
@{ int count = 1;}

@{
    ViewBag.Title = "Index";
    var UserPics = "";
}


@section styles
    {

    <style>
    </style>

}
<head>

    <link href="~/Content/CSS/color_file.css" rel="stylesheet" />

</head>


<div class="page-header page-header-light">

    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline" style="margin-top:15px;">
        <div class="d-flex">
            <div class="breadcrumb">
             
                <span style="background-color:red !important;">Requisition Form</span>
            </div>

            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>



</div>

<div class="card" style=" margin-top:15px">
    <div class="card-header header-elements-inline bg-orange-800">

        <h5 class="card-title">

            <a href="/RequisitionForm/New" type='button' class='btn   btn-labeled btn-labeled-left btn-sm authorizeOrNotInsert' style="background-color: #f5e486; color: black;">
                <b><i class="icon-plus3"></i></b>
                NEW
            </a>
            <span class="font-weight-semibold  usercolor" style=""> RequisitionForm</span>
        </h5>

        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" data-action="reload"></a>

            </div>
        </div>
    </div>

    <div class="card-body">
        <table class="table datatable-button-html5-columns dataTable no-footer responsive" id="tblRequisitionForm">
            <thead>
                <tr>
                    <th>Sr.</th>

                    <th>Name</th>
                    <th>Lab</th>
                    <th>Project</th>
                    <th>Sif No</th>
                    <th>Signature Of Inditor</th>
                    <th>Signature Of StoreKeeper</th>

                    <th style="text-align:right">Action</th>

                </tr>
            
            </thead>
            <tbody>
                @foreach (var m in Model)
                {
                    <tr>
                        <td>@count</td>


                        <td>@m.Name</td>
                        <td>@m.Lab</td>
                        <th>@m.Project</th>

                        <td>@m.SifNo</td>
                        <th>@m.SignatureOfInditor</th>

                        <td>@m.SignatureOfStoreKeeper</td>
                        <td><button type='button' onclick="window.location.href = '/RequisitionForm/View?ID=@m.ID';" class='btn bg-primary  btn-sm authorizeOrNotUpdate' style='color:white'>View </button><button type='button' onclick="window.location.href = '/RequisitionForm/GetUpdate?ID=@m.ID';" class='btn bg-blue  btn-sm authorizeOrNotUpdate authorize' style='color:white;margin-left:10px'>Update </button><button onclick='Delete(@m.ID);' type='button' class='btn bg-danger btn-sm authorizeOrNotDelete authorize' style='color:white;margin-left:10px'>Delete</button></td>
                    </tr>
                    count++;
                }
            </tbody>
        </table>
    </div>


</div>



@section scripts{

    @Scripts.Render("~/bundles/Validation")
    @Scripts.Render("~/bundles/ERPScripts")
    <script src="~/Content/assets/assets/js/sweetalert.min.js"></script>

    <script>

        $(document).ready(function () {

            checkroles();



        });

      
      
        function Delete(ID) {
            var headers = {};
            var token = $('input[name="__RequestVerificationToken"]').val();
            headers['__RequestVerificationToken'] = token;
            $.ajax(
                {
                    type: "POST",
                    headers: headers,
                    contentType: "application/json; charset=utf-8",
                    url: "/RequisitionForm/Delete",
                    data: JSON.stringify({ ID: ID }),
                    dataType: "json",
                    success: function (result) {
                        swal("ReturnVoucher Deleted Successfully ");
                        window.location.reload();
                    },
                    error: function (xhr, status, error) {

                        swal("Error  While  Deletinig ");
                    }

                });


        }
              function checkroles() {

                 var Role = '@Session["IsAdmin"]' != null ? '@Session["IsAdmin"]' :'';

                if (Role != 'True') {

                    $(".authorize").attr("disabled", true);




                }
                else {

                    $(".authorize").attr("disabled", false);

                }

            }
    </script>

}



 