@model InventoryManagementSystem.Models.GRN

@section styles{
    <style>

        .jvmodalbodyscroll {
            /*height: 510px !important;
            overflow-y: scroll !important;*/
        }

        .buttondisplay {
            display: none;
        }
    </style>
}
<!---->

<head>
    <title>Purchase Orders</title>
</head>
@{
    string DestinationStoreID = "0";
    DestinationStoreID = "avc";
}
<div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
    <div class="d-flex">
        <div class="breadcrumb">
            <a href="" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
            <span class="breadcrumb-item active">Purchase Orders</span>
        </div>
        <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
    </div>
</div>
<div class="card" style="font-size: 14px !important;">
    <div class="card-header header-elements-inline search-header content-header">
        <h5 class="card-title">
            <i class=""></i>Goods Receipt Note
        </h5>
    </div>
    <form id="GoodsReceiptForm">
        @Html.AntiForgeryToken()

        <div class="card-body">

            <div class="tab-content">
                <div class="tab-pane fade in active show" id="generalinformation">



                    <input type="text" id="txtRedirection" class="form-control" hidden />
                    <input type="text" id="txtGRNID" class="form-control" hidden />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label "> GRN No </label>
                                <div class="col-md-10">
                                    <input type="text" id="txtGRNNo" name="txtGRNNo" maxlength="15" class="form-control" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label "> Date </label>
                                <div class="col-md-10">
                                    <input type="date" value="" id="txtGRNDate" name=" txtGRNDate" maxlength="15" autocomplete="off" placeholder="" class="form-control pickadate-accessibility" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label "> Project </label>
                                <div class="col-md-10">

                                    <select id="txtGRNProject" required class="form-control ">
                                        <option value=""> Select Project</option>
                                        <option value="NI Multan"> NI Multan </option>
                                        <option value="NI Islamabad"> NI Islamabad </option>
                                        <option value="NI Krachi"> NI Krachi</option>
                                        <option value="NI Lahore"> NI Lahore</option>

                                    </select>


                                    @*<input type="text" value="" id="txtGRNProject" name=" txtGRNProject" maxlength="15" autocomplete="off" placeholder="" class="form-control" required />*@
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label ">
                                    Name
                                </label>
                                <div class="col-md-10">
                                    <input type="text" id="txtGRNName" name="txtGRNName" maxlength="10" class="form-control " placeholder="" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label "> Designation </label>
                                <div class="col-md-10">

                                    <select id="txtDesignation" required class="form-control ">
                                        <option value=""> Select Designation</option>
                                        <option value="1"> Manager</option>
                                        <option value="2"> Accountant</option>
                                        <option value="3"> Sales Person</option>
                                        <option value="4"> CTO</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label "> LAB </label>
                                <div class="col-md-10">
                                    @*<input type="text" value="" id="txtLAB" name="txtLAB" maxlength="95" class="form-control" required />*@
                                    <select id="txtLAB" required class="form-control ">
                                        <option value=""> Select LAB</option>
                                        <option value="Electronic LAB 1"> Electronic LAB 1  </option>
                                        <option value="Electronic LAB 2"> Electronic LAB 2 </option>
                                        <option value="Electrical"> Electrical </option>
                                        <option value="Computer Lab 1">Computer Lab 1</option>
                                        <option value="Computer Lab 2">Computer Lab 2</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label "> SupplierName </label>
                                <div class="col-md-10">
                                    <input type="text" id="txtSupplierName" name="txtSupplierName" maxlength="15" class="form-control" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label "> SupplierAddress </label>
                                <div class="col-md-10">
                                    <input type="text" id="txtSupplierAddress" name=" txtSupplierAddress" maxlength="200" autocomplete="off" placeholder="" class="form-control " required />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label "> SuplyOrderNo </label>
                                <div class="col-md-10">
                                    <input type="number" id="txtSuplyOrderNo" name=" txtSuplyOrderNo" maxlength="15" autocomplete="off" placeholder="" class="form-control" required />
                                </div>
                            </div>
                        </div>
                    </div>





                </div>

                <div class="card">
                    <div class="card-header header-elements-inline" style="color:white">
                        <h5 class="card-title" style="width:50% !important;">

                            <button type="button" class='btn   btn-labeled btn-labeled-left btn-sm authorizeOrNotInsert clsPOStatusClosed' data-toggle="modal" data-target="#GRNDetailModel" style="text-decoration:none;background-color:white;">
                                <b><i class="icon-plus3"></i></b>
                                Add New
                            </button>
                            <span class="font-weight-semibold">Items List</span>

                        </h5>


                    </div>
                    <div class="card-body">
                        <table class="table " id="detailtbl">
                            <thead>
                                <tr>
                                    <th> Sr. #</th>

                                    <th> Leadger Page </th>
                                    <th> Description </th>
                                    <th> AU </th>
                                    <th> QTY Created </th>
                                    <th> QTY Recived </th>
                                    <th> Rate  </th>

                                    <th> Total Cost </th>
                                    <th> Actions </th>


                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int no = 1;
                                    foreach (var a in Model.GRNDetails)
                                    {

                                        <tr>
                                            <td> @no</td>

                                            <td> @a.LeadgerPage </td>
                                            <td> @a.Description </td>
                                            <td> @a.AU </td>
                                            <td> @a.QTYCreated </td>
                                            <td> @a.QTYRecived </td>
                                            <td> @a.Rate  </td>

                                            <td> @a.TotalValue </td>
                                            <td>  <button onclick='DeleteDetailRow(this);' type='button' class='btn bg-danger btn-sm authorizeOrNotDelete' style='color:white'>Delete</button></td>


                                        </tr>

                                        no++;
                                    }


                                }
                            </tbody>

                            
                        </table>
                    </div>
                </div>
                <div class="row">
                   
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn bg-danger btn-labeled btn-labeled-left btn-sm" id="btnPOCancel" onclick="Cancel()" style="color:white"><b><i class="icon-cross2"></i></b> Cancel</button>
                    @*<button class="btn btn-primary btn-sm clsPOStatusClosed" id="btnsave" type="submit">Save</button>*@

                    <button class="btn btn-primary btn-sm clsPOStatusClosed" type="submit" id="btnsaveandList" onclick="SetRedirection(2);">Update and Go to List</button>


                    <button class="btn btn-primary btn-sm clsPOStatusClosed buttondisplay" id="btnClosePO" disabled onclick="fnClosePO()" type="button">Close</button>
                </div>
            </div>

        </div>
    </form>
</div>

<!-- Add ItemModal-->
<div id="GRNDetailModel" class="modal  fade" style="font-size: 12px !important;">
    <div class="modal-dialog modal-md">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title"><i class="icon-pencil"></i> <span id="modalHeading" class="caption-subject font-green bold uppercase">GRN Detail</span></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>


            <div class="card-body">
                <form id="GRNDetailForm">
                    @Html.AntiForgeryToken()
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label">Leader Page</label>
                            <span class="text-danger"> * </span>
                        </div>
                        <div class="col-md-6">
                            <input type="number" class="form-control" id="LeaderPage" required />



                        </div>

                    </div>

                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label">Description</label>  <span class="text-danger"> * </span>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="DetailDescription" required />



                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label">AU</label>  <span class="text-danger"> * </span>
                        </div>
                        <div class="col-md-6">
                            <input type="number" class="form-control" id="AU" required />



                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label">QTYCreated</label>  <span class="text-danger"> * </span>
                        </div>
                        <div class="col-md-6">
                            <input type="number" class="form-control" id="QTYCreated" required onchange="calculatetotal()" />


                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label">QTY Recived</label>  <span class="text-danger"> * </span>
                        </div>
                        <div class="col-md-6">
                            <input type="number" class="form-control" id="QTYRecived" required />


                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label">Rate</label>  <span class="text-danger"> * </span>
                        </div>
                        <div class="col-md-6">
                            <input type="number" class="form-control" id="Rate" onchange="calculatetotal()" required />


                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label">Total Cost</label>  <span class="text-danger"> * </span>
                        </div>
                        <div class="col-md-6">
                            <input type="number" class="form-control" id="TotalCost" required onchange="calculatetotal()" />


                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn bg-primary btn-labeled btn-labeled-left btn-sm" style="color:white"><b><i class="icon-cross2"></i></b>Save</button>
                        <button type="button" class="btn bg-danger btn-labeled btn-labeled-left btn-sm" style="color:white" data-dismiss="modal"><b><i class="icon-cross2"></i></b>Close</button>


                    </div>
                </form>

            </div>






        </div>

    </div>

</div>



@section scripts
{

    @Scripts.Render("~/bundles/DataTableScripts")

    @Scripts.Render("~/bundles/DateScripts")
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
    <script>
        var count = 0;
        var CountDetailRow = 0;
        $(document).ready(function () {
            SetAJaxObject();
        });

        function SetAJaxObject() {
            $("#txtGRNID").val("@Model.ID");

            $("#txtGRNNo").val("@Model.GRNNo");
            $("#txtGRNName").val("@Model.Name");
            $("#txtDesignation").val("@Model.DesignationID").change();
            $("#txtLAB").val("@Model.Lab").change();
            $("#txtGRNProject").val("@Model.Project").change();
            $("#txtGRNNo").val("@Model.GRNNo");
            $("#txtSuplyOrderNo").val("@Model.SuplyOrderNo");
            $("#txtGRNDate").val("@Model.GRNDate");
            $("#txtSupplierName").val("@Model.SupplierName");

            $("#txtSupplierAddress").val("@Model.SupplierAddress");






        }
        $("#GoodsReceiptForm").submit(function (event) {

            event.preventDefault();
            SaveGRNRecord();

        });

        function SaveGRNRecord() {
            try {




                    var Title = "";
                    var Text = "Are you sure you want to Update this record ?";
                    var ConfirmButtonText = "Confirm Update";
                    var CancelButtonText = "Cancel";

                swal(
                    {
                        title: Title,
                        text: Text,
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonText: ConfirmButtonText,
                        cancelButtonText: CancelButtonText,
                        closeOnConfirm: false,
                        closeOnCancel: true
                    },
                    function (isConfirm) {

                        if (isConfirm) {

                            let AjaxObj = AJaxObject();

                            var headers = {};
                            var token = $('input[name="__RequestVerificationToken"]').val();
                            headers['__RequestVerificationToken'] = token;
                            var Url = "/GRN/Update";


                            $.ajax({
                                type: "POST",
                                headers: headers,
                                contentType: "application/json; charset=utf-8",
                                url: Url,
                                data: JSON.stringify({ "Obj": AjaxObj }),
                                dataType: "json",
                                async: false,
                                success: function (result) {

                                    swal("Data Updated Successfully");

                                    window.location.replace("/GRN/Index");

                                },
                                error: function (xhr, status, error) {
                                    swal("Data Added Successfully");
                                    window.location.replace("/GRN/Index");
                                    /* swal("", "Error While Adding Data", "error");*/
                                }

                            });


                        }
                        else {

                            swal("Cancelled", "Your operation Canceled :)", "error");
                        }

                    }
                );



            }
            catch (err) {
                swal("Cancelled", err.ToString(), "error");
            }
        }

        function AJaxObject() {

            var GRN = { "ID": "", "Name": "", "DesignationID": "", "Lab": "", "Project": "", "GRNNo": "", "SuplyOrderNo": "", "GRNDate": "", "SupplierName": "", "SupplierAddress": "", "GRNDetails": [] };

            GRN.ID = $("#txtGRNID").val();
            GRN.Name = $("#txtGRNName").val();
            GRN.DesignationID = $("#txtDesignation").val();
            GRN.Lab = $("#txtLAB").val();
            GRN.Project = $("#txtGRNProject").val();
            GRN.GRNNo = $("#txtGRNNo").val();
            GRN.SuplyOrderNo = $("#txtSuplyOrderNo").val();
            GRN.GRNDate = $("#txtGRNDate").val();
            GRN.SupplierName = $("#txtSupplierName").val();

            GRN.SupplierAddress = $("#txtSupplierAddress").val();





            var GRNDetails = { "ID": "", "LeadgerPage": "", "Description": "", "AU": "", "QTYCreated": "", "QTYRecived": "", "QTYRecived": "", "Rate": "", "TotalValue": "", "GRNID": "", };

            var detailtbl = $("#detailtbl").DataTable();


            var tblPRows = detailtbl.rows().data();


            debugger
            if (tblPRows.length > 0) {
                $.each(tblPRows, function (index, value) {
                    GRNDetails.LeadgerPage = value[1];
                    GRNDetails.Description = value[2];
                    GRNDetails.AU = value[3];
                    GRNDetails.QTYCreated = value[4];
                    GRNDetails.QTYRecived = value[5];
                    GRNDetails.Rate = value[6];
                    GRNDetails.TotalValue = value[7];
                    GRNDetails.ID = Math.floor((Math.random() * 100000) + 1);

                    GRN.GRNDetails.push(GRNDetails);

                    GRNDetails = { "ID": "", "LeadgerPage": "", "Description": "", "AU": "", "QTYCreated": "", "QTYRecived": "", "Rate": "", "TotalValue": "", "GRNID": "", };

                });

            }

            return GRN;
        }
        $("#GRNDetailForm").submit(function (event) {

            event.preventDefault();
            AddDetailRow();

        });
        function AddDetailRow() {
            CountDetailRow++;

            var row = "<tr><td>" + count + "</td>" + "<td>" + $("#LeaderPage").val() + "</td>" + "<td>" + $("#DetailDescription").val() + "</td>" + "<td>" + $("#AU").val() + "</td>" + "<td>" + $("#QTYCreated").val() + "</td>" + "<td>" + $("#QTYRecived").val() + "</td>" + "<td>" + $("#Rate").val() + "</td>" + "<td>" + $("#TotalCost").val() + "</td>" +
"<td>  <button onclick='DeleteDetailRow(this);' type='button' class='btn bg-danger btn-sm authorizeOrNotDelete' style='color:white'>Delete</button></td> </tr > ";


            $("#detailtbl").find('tbody').append(row);
            ClearDetailForm();
        }



        function DeleteDetailRow(a) { a.closest('tr').remove(); }
        function ClearDetailForm() {

            $("#LeaderPage").val("");
            $("#DetailDescription").val("");
            $("#AU").val("");
            $("#QTYCreated").val("");
            $("#QTYRecived").val("");
            $("#Rate").val("");
            $("#TotalCost").val("");
            $("#GRNDetailModel").modal("hide");
        }
        function calculatetotal() {
            let qc = $("#QTYCreated").val();
            let rate = $("#Rate").val();
            let total = qc * rate;
            if (total > 0) { $("#TotalCost").val(total); }


        }
    </script>
}
