@model InventoryManagementSystem.Models.ReturnVoucher

@section styles{
    <style>

        .jvmodalbodyscroll {
            /*height: 510px !important;
            overflow-y: scroll !important;*/
        }

        .buttondisplay {
            display: none;
        }
    </style>
}
<!---->

<head>
    <title>Return Voucher</title>
</head>
@{
    string DestinationStoreID = "0";
    DestinationStoreID = "avc";
}
<div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
    <div class="d-flex">
        <div class="breadcrumb">
            <a href="" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
            <span class="breadcrumb-item active">Return Voucher</span>
        </div>
        <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
    </div>
</div>
<div class="card" style="font-size: 14px !important;">
    <div class="card-header header-elements-inline search-header content-header">
        <h5 class="card-title">
            <i class=""></i>Return Voucher
        </h5>
    </div>
    <form id="GoodsReceiptForm">
        @Html.AntiForgeryToken()

        <div class="card-body">

            <div class="tab-content">
                <div class="tab-pane fade in active show" id="generalinformation">



                    <input type="text" id="txtRedirection" class="form-control" hidden />
                    <input type="text" id="txtReturnVoucherID" value="@Model.ID" class="form-control" hidden />
                    <div class="row">


                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label "> Project </label>
                                <div class="col-md-10">

                                    <select id="txtReturnVoucherProject" required class="form-control ">
                                        <option value=""> Select Project</option>
                                        <option value="NI Multan"> NI Multan </option>
                                        <option value="NI Islamabad"> NI Islamabad </option>
                                        <option value="NI Krachi"> NI Krachi</option>
                                        <option value="NI Lahore"> NI Lahore</option>

                                    </select>

                                    @*<input type="text" value="" id="txtReturnVoucherProject" name=" txtReturnVoucherProject" maxlength="15" autocomplete="off" placeholder="" class="form-control" required />*@
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label ">
                                    Name
                                </label>
                                <div class="col-md-10">
                                    <input type="text" id="txtReturnVoucherName" name="txtReturnVoucherName" maxlength="10" class="form-control " placeholder="" required />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label "> Designation </label>
                                <div class="col-md-10">
                                    <select id="txtDesignation" required class="form-control ">
                                        <option value=""> Select Designation</option>
                                        <option value="1"> Manager</option>
                                        <option value="2"> Accountant</option>
                                        <option value="3"> Sales Person</option>
                                        <option value="4"> CTO</option>

                                    </select>
                                    @*<select id="txtDesignation" required class="form-control "><option value=""> Select Designation</option></select>*@

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label "> LAB </label>
                                <div class="col-md-10">
                                    <select id="txtLAB" required class="form-control ">
                                        <option value=""> Select LAB</option>
                                        <option value="Electronic LAB 1"> Electronic LAB 1  </option>
                                        <option value="Electronic LAB 2"> Electronic LAB 2 </option>
                                        <option value="Electrical"> Electrical </option>
                                        <option value="Computer Lab 1">Computer Lab 1</option>
                                        <option value="Computer Lab 2">Computer Lab 2</option>
                                    </select>
                                    @*<input type="text" value="" id="txtLAB" name="txtLAB" maxlength="95" class="form-control" required />*@

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label "> CatByName </label>
                                <div class="col-md-10">
                                    <input type="text" id="txtCatByName" name="txtCatByName" maxlength="15" class="form-control" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label "> Cat By Designation </label>
                                <div class="col-md-10">
                                    <input type="text" value="" id="txtCatByDesignation" name=" txtCatByDesignation" maxlength="15" autocomplete="off" placeholder="" class="form-control " required />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label "> Return By Signature </label>
                                <div class="col-md-10">
                                    <input type="text" value="" id="txtReturnBySignature" name=" txtReturnBySignature" maxlength="15" autocomplete="off" placeholder="" class="form-control" required />
                                </div>
                            </div>
                        </div>

                    </div>







                    <div class="card">
                        <div class="card-header header-elements-inline" style="color:white">
                            <h5 class="card-title" style="width:50% !important;">

                                <button type="button" class='btn   btn-labeled btn-labeled-left btn-sm authorizeOrNotInsert clsPOStatusClosed' data-toggle="modal" data-target="#ReturnVoucherDetailModel" style="text-decoration:none;background-color:white;">
                                    <b><i class="icon-plus3"></i></b>
                                    Add New
                                </button>
                                <span class="font-weight-semibold">Items List</span>

                            </h5>


                        </div>
                        <div class="card-body">
                            <table class="table " id="detailtbl">
                                <thead>
                                    <tr>
                                        <th> Sr. #</th>

                                        <th> Description </th>

                                        <th> Leader Page NO </th>
                                        <th>   QTY US</th>
                                        <th> QTY S </th>
                                        <th> Remarks  </th>




                                        <th style="text-align:right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int no = 1;
                                        foreach (var a in Model.ReturnVoucherDetails)
                                        {

                                            <tr>
                                                <td> @no</td>


                                                <td> @a.Description </td>
                                                <td> @a.LeaderPageNo </td>
                                                <td> @a.QTYUS </td>
                                                <td> @a.QTYS </td>
                                                <td> @a.Remarks  </td>

                                                <td> <button onclick='Deletedetailrow(this);' type='button' class='btn bg-danger btn-sm authorizeOrNotDelete' style='color:white'>Delete</button> </td>

                                            </tr>

                                            no++;
                                        }


                                    }
                                </tbody>

                           
                
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-right" id="">Total Cost Received</div><div class="col-md-2 text-left" id="idDivTotalReceivedQtyPrice">0</div>
                        <div class="col-md-2 text-right" id="">Amount Remaining</div><div class="col-md-2 text-left" id="idDivRemainingReceiveQty">0</div>
                        <div class="col-md-2 text-right" id="">Total Cost Ordered</div><div class="col-md-2 text-left" id="idDivTotalCostOrdered">0</div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn bg-danger btn-labeled btn-labeled-left btn-sm" id="btnPOCancel" onclick="Cancel()" style="color:white"><b><i class="icon-cross2"></i></b> Cancel</button>
                        @*<button class="btn btn-primary btn-sm clsPOStatusClosed" id="btnsave" type="submit">Save</button>*@
                      
                        <button class="btn btn-primary btn-sm clsPOStatusClosed" type="submit" id="btnsaveandList" onclick="SetRedirection(2);">Update and Go to List</button>

                        
                        <button class="btn btn-primary btn-sm clsPOStatusClosed buttondisplay" id="btnClosePO" disabled onclick="fnClosePO()" type="button">Close</button>
                    </div>
                </div>

            </div>
    </form>
</div>

<!-- Add ItemModal-->
<div id="ReturnVoucherDetailModel" class="modal  fade" style="font-size: 12px !important;">
    <div class="modal-dialog modal-md">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title"><i class="icon-pencil"></i> <span id="modalHeading" class="caption-subject font-green bold uppercase">ReturnVoucher Detail</span></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>


            <div class="card-body">
                <form id="ReturnVoucherDetailForm">
                    @Html.AntiForgeryToken()
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label">Leader Page No</label>
                            <span class="text-danger"> * </span>
                        </div>
                        <div class="col-md-6">
                            <input type="number" class="form-control" id="LeaderPage" required />



                        </div>

                    </div>

                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label">Description</label>  <span class="text-danger"> * </span>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="DetailDescription" required />



                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label">QTY S</label>  <span class="text-danger"> * </span>
                        </div>
                        <div class="col-md-6">
                            <input type="number" class="form-control" id="QTYS" required />



                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label">QTY US</label>  <span class="text-danger"> * </span>
                        </div>
                        <div class="col-md-6">
                            <input type="number" class="form-control" id="QTYUS" required />


                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label">Remarks</label>  <span class="text-danger"> * </span>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="Remarks" required />


                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn bg-primary btn-labeled btn-labeled-left btn-sm" style="color:white"><b><i class="icon-cross2"></i></b>Save</button>
                        <button type="button" class="btn bg-danger btn-labeled btn-labeled-left btn-sm" style="color:white" data-dismiss="modal"><b><i class="icon-cross2"></i></b>Close</button>


                    </div>
                </form>

            </div>






        </div>

    </div>

</div>



@section scripts
{

    @Scripts.Render("~/bundles/DataTableScripts")

    @Scripts.Render("~/bundles/DateScripts")
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
    <script>
        var count = 0;
        var CountDetailRow = 0;
        $(document).ready(function () {

            setdata();

        });


        $("#ReturnVoucherDetailForm").submit(function (event) {

            event.preventDefault();
            AddDetailRow();

        });
        function getDesignation() {
            $.ajax({
                type: "POST",

                contentType: "application/json; charset=utf-8",
                url: "/Designation/GETList",

                dataType: "json",
                async: false,
                success: function (result) {
                    debugger;
                    if (result) {

                        $.each(result, function (Index, value) { $("#txtDesignation").append("<option value='" + value.ID + "'>" + value.Description + " </option>"); });

                    }


                },
                error: function (xhr, status, error) {
                    var errorMessage = AjaxErrorMessage + ' (Error Code: ' + xhr.status + ')';
                    swal("", errorMessage, "error");
                }

            });
        }
        function ClearDetailForm() {

            $("#LeaderPage").val("");
            $("#DetailDescription").val("");
            $("#QTYS").val("");
            $("#QTYUS").val("");
            $("#Remarks").val("");

            $("#ReturnVoucherDetailModel").modal("hide");
        }
        function AddDetailRow() {
            CountDetailRow++;

            var row = "<tr><td>" + count + "</td>" + "<td>" + $("#LeaderPage").val() + "</td>" + "<td>" + $("#DetailDescription").val() + "</td>" + "<td>" + $("#QTYS").val() + "</td>" + "<td>" + $("#QTYUS").val() + "</td>" + "<td>" + $("#Remarks").val() + "</td>" +

                "<td> <button onclick='Deletedetailrow(this);' type='button' class='btn bg-danger btn-sm authorizeOrNotDelete' style='color:white'>Delete</button> </td> ";


            $("#detailtbl").find('tbody').append(row);
            ClearDetailForm();
        }
        function Cancel() { window.location.href = "/ReturnVoucher/Index"; }

        function SetRedirection(type) {

            $("#txtRedirection").val(type);
        }
        function AJaxObject() {

            var ReturnVoucher = { "ID": "", "Name": "", "DesignationID": "", "Lab": "", "Project": "", "ReturnByName": "", "ReturnByDesignation": "", "CatByName": "", "CatByDesignation": "", "ReturnBySignature": "", "ReturnVoucherDetails": [] };
            ReturnVoucher.ID = $("#txtReturnVoucherID").val();
            ReturnVoucher.Name = $("#txtReturnVoucherName").val();
            ReturnVoucher.DesignationID = $("#txtDesignation").val();
            ReturnVoucher.Lab = $("#txtLAB").val();
            ReturnVoucher.Project = $("#txtReturnVoucherProject").val();
            ReturnVoucher.ReturnVoucherNo = $("#txtReturnVoucherNo").val();
            ReturnVoucher.CatByName = $("#txtCatByName").val();
            ReturnVoucher.CatByDesignation = $("#txtCatByDesignation").val();
            ReturnVoucher.ReturnBySignature = $("#ReturnBySignature").val();







            var ReturnVoucherDetails = { "ID": "", "LeaderPageNo": "", "Description": "", "Remarks": "", "QTYUS": "", "QTYS": "", };

            var detailtbl = $("#detailtbl").DataTable();


            var tblPRows = detailtbl.rows().data();



            if (tblPRows.length > 0) {
                $.each(tblPRows, function (index, value) {
                    ReturnVoucherDetails.LeadgerPage = value[2];
                    ReturnVoucherDetails.Description = value[1];
                    ReturnVoucherDetails.Remarks = value[5];
                    ReturnVoucherDetails.QTYUS = value[3];
                    ReturnVoucherDetails.QTYS = value[4];

                    ReturnVoucherDetails.ID = Math.floor((Math.random() * 100000) + 1);

                    ReturnVoucher.ReturnVoucherDetails.push(ReturnVoucherDetails);

                    ReturnVoucherDetails = { "ID": "", "LeadgerPage": "", "Description": "", "AU": "", "QTYCreated": "", "QTYRecived": "", "Rate": "", "TotalValue": "", "ReturnVoucherID": "", };

                });

            }

            return ReturnVoucher;
        }
        $("#GoodsReceiptForm").submit(function (event) {

            event.preventDefault();
            SaveReturnVoucherRecord();

        });

        function SaveReturnVoucherRecord() {
            try {




                    var Title = "";
                    var Text = "Are you sure you want to Update this record ?";
                    var ConfirmButtonText = "Confirm Update";
                    var CancelButtonText = "Cancel";

                swal(
                    {
                        title: Title,
                        text: Text,
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonText: ConfirmButtonText,
                        cancelButtonText: CancelButtonText,
                        closeOnConfirm: false,
                        closeOnCancel: true
                    },
                    function (isConfirm) {

                        if (isConfirm) {

                            let AjaxObj = AJaxObject();

                            var headers = {};
                            var token = $('input[name="__RequestVerificationToken"]').val();
                            headers['__RequestVerificationToken'] = token;
                           var Url = "/ReturnVoucher/Update";


                            $.ajax({
                                type: "POST",
                                headers: headers,
                                contentType: "application/json; charset=utf-8",
                                url: Url,
                                data: JSON.stringify({ "Obj": AjaxObj }),
                                dataType: "json",
                                async: false,
                                success: function (result) {
                                    debugger;


                                    let a = $('#txtCashierID').val();



                                    $('#txtCashierID').prop("disabled", true);
                                    swal("Data Added Successfully");


                                    window.location.replace("/ReturnVoucher/Index");


                                },
                                error: function (xhr, status, error) {
                                    swal("Data Added Successfully");
                                    window.location.replace("/ReturnVoucher/Index");
                                }

                            });


                        }
                        else {

                            swal("Cancelled", "Your operation Canceled :)", "error");
                        }

                    }
                );



            }
            catch (err) {
                swal("Cancelled", err.ToString(), "error");
            }
        }
        function setdata() {

              $("#txtReturnVoucherName").val("@Model.Name");
             $("#txtDesignation").val("@Model.DesignationID").change();
            $("#txtLAB").val("@Model.Lab").change();
            $("#txtReturnVoucherProject").val("@Model.Project").change();

            $("#txtCatByName").val("@Model.CatByName");
            $("#txtCatByDesignation").val("@Model.CatByDesignation");
                $("#ReturnBySignature").val("@Model.ReturnBySignature");

        }
        function Deletedetailrow(a) { a.closest('tr').remove(); }

       
    </script>


}
