@model IEnumerable<InventoryManagementSystem.Models.ReturnVoucher>

@{
    ViewBag.Title = "GetVoucherList";
}

<h2>GetVoucherList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DesignationID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lab)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnByName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnByDesignation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CatByName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CatByDesignation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnBySignature)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DesignationID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lab)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReturnByName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReturnByDesignation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CatByName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CatByDesignation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReturnBySignature)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
