@model InventoryManagementSystem.Models.ReturnVoucher
@section styles{
    <style>

        .jvmodalbodyscroll {
            /*height: 510px !important;
            overflow-y: scroll !important;*/
        }

        .buttondisplay {
            display: none;
        }
    </style>
}
<!---->

<head>
    <title>Return Voucher</title>
</head>
@{
    string DestinationStoreID = "0";
    DestinationStoreID = "avc";
}
<div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
    <div class="d-flex">
        <div class="breadcrumb">
            <a href="" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
            <span class="breadcrumb-item active">Return Voucher</span>
        </div>
        <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
    </div>
</div>
<div class="card" style="font-size: 14px !important;">
    <div class="card-header header-elements-inline search-header content-header">
        <h5 class="card-title">
            <i class=""></i>Return Voucher
        </h5>
    </div>

    @Html.AntiForgeryToken()

    <div class="card-body">

        <div class="tab-content">
            <div class="tab-pane fade in active show" id="generalinformation">



                <input type="text" id="txtRedirection" class="form-control" hidden />

                <div class="row">


                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-form-label "> Project </label>
                            <div class="col-md-10">

                                <select id="txtReturnVoucherProject" required class="form-control ">
                                    <option value=""> Select Project</option>
                                    <option value="NI Multan"> NI Multan </option>
                                    <option value="NI Islamabad"> NI Islamabad </option>
                                    <option value="NI Krachi"> NI Krachi</option>
                                    <option value="NI Lahore"> NI Lahore</option>

                                </select>

                                @*<input type="text" value="" id="txtReturnVoucherProject" name=" txtReturnVoucherProject" maxlength="15" autocomplete="off" placeholder="" class="form-control" required />*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-form-label ">
                                Name
                            </label>
                            <div class="col-md-10">
                                <input type="text" id="txtReturnVoucherName" name="txtReturnVoucherName" maxlength="10" class="form-control " placeholder="" required />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-form-label "> CatByName </label>
                            <div class="col-md-10">
                                <input type="text" id="txtCatByName" name="txtCatByName" maxlength="15" class="form-control" required />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-form-label "> Designation </label>
                            <div class="col-md-10">
                                <select id="txtDesignation" required class="form-control ">
                                    <option value=""> Select Designation</option>
                                    <option value="1"> Manager</option>
                                    <option value="2"> Accountant</option>
                                    <option value="3"> Sales Person</option>
                                    <option value="4"> CTO</option>

                                </select>
                                @*<select id="txtDesignation" required class="form-control "><option value=""> Select Designation</option></select>*@

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-form-label "> LAB </label>
                            <div class="col-md-10">
                                <select id="txtLAB" required class="form-control ">
                                    <option value=""> Select LAB</option>
                                    <option value="Electronic LAB 1"> Electronic LAB 1  </option>
                                    <option value="Electronic LAB 2"> Electronic LAB 2 </option>
                                    <option value="Electrical"> Electrical </option>
                                    <option value="Computer Lab 1">Computer Lab 1</option>
                                    <option value="Computer Lab 2">Computer Lab 2</option>
                                </select>
                                @*<input type="text" value="" id="txtLAB" name="txtLAB" maxlength="95" class="form-control" required />*@

                            </div>
                        </div>
                    </div>
                 
                </div>
                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-form-label "> Cat By Designation </label>
                            <div class="col-md-10">
                                <input type="text" value="" id="txtCatByDesignation" name=" txtCatByDesignation" maxlength="15" autocomplete="off" placeholder="" class="form-control " required />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-form-label "> Return By Signature </label>
                            <div class="col-md-10">
                                <input type="text" value="" id="txtReturnBySignature" name=" txtReturnBySignature" maxlength="15" autocomplete="off" placeholder="" class="form-control" required />
                            </div>
                        </div>
                    </div>

                </div>







                <div class="card">
                    <div class="card-header header-elements-inline" style="color:white">
                        <h5 class="card-title" style="width:50% !important;">


                            <span class="font-weight-semibold">Items List</span>

                        </h5>


                    </div>
                    <div class="card-body">
                        <table class="table " id="detailtbl">
                            <thead>
                                <tr>
                                    <th> Sr. #</th>

                                    <th> Description </th>

                                    <th> Leader Page NO </th>
                                    <th>   QTY US</th>
                                    <th> QTY S </th>
                                    <th> Remarks  </th>




                                 
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int no = 1;
                                    foreach (var a in Model.ReturnVoucherDetails)
                                    {

                                        <tr>
                                            <td> @no</td>


                                            <td> @a.Description </td>
                                            <td> @a.LeaderPageNo </td>
                                            <td> @a.QTYUS </td>
                                            <td> @a.QTYS </td>
                                            <td> @a.Remarks  </td>



                                        </tr>

                                        no++;
                                    }


                                }
                            </tbody>

                           
                        </table>
                    </div>
                </div>
              
            </div>

        </div>
        <div class="modal-footer">
            <div class="row">

            </div>

        </div>





    </div>

    <button class="btn btn-primary btn-sm clsPOStatusClosed" type="submit" id="btnsaveandList" onclick="window.location.href = '/ReturnVoucher/Index';"> Go to List</button>
    <br />

    @section scripts
{

        @Scripts.Render("~/bundles/DataTableScripts")

        @Scripts.Render("~/bundles/DateScripts")
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
        <script>
        var count = 0;
        var CountDetailRow = 0;
            $(document).ready(function () {
                  $("#txtReturnVoucherName").val("@Model.");
             $("#txtReturnVoucherName").val("@Model.Name");
             $("#txtDesignation").val("@Model.DesignationID").change();
            $("#txtLAB").val("@Model.Lab").change();
            $("#txtReturnVoucherProject").val("@Model.Project").change();

            $("#txtCatByName").val("@Model.CatByName");
            $("#txtCatByDesignation").val("@Model.CatByDesignation");
                $("#ReturnBySignature").val("@Model.ReturnBySignature");

                $("input").attr("disabled", true);
                $("select").attr("disabled", true);
            });



        </script>
    }
